{% extends 'base.html.twig' %}

{% block title %}
    {% if participant is defined and participant is not null %}
        Profil de {{ participant.getPseudo() }}
    {% else %}
        Profil not found
    {% endif %}
{% endblock %}

{% block body %}
    {% if participant is defined and participant is not null %}

        <div>
<div class="py-5 text-center">
    <h2>{{ participant.getPseudo() }}</h2>
</div>
<div class="row g-5 w-50 p-3 m-auto">
    <div class="col-md-5 col-lg-4 order-md-last">
            <p>Prénom : {{ participant.getPrenom() }}</p>
            <p>Nom : {{ participant.getNom() }}</p>
            <p>Téléphone : {{ participant.getTelephone() is not null ? participant.getTelephone() : 'aucun'  }}</p>
            <p>Email : {{ participant.getMail() }}</p>
            <p>Ville de rattachement : {{ participant.getSite().nom }}</p>
        </div>
    <div class="col-md-7 col-lg-8">
        <img src="https://picsum.photos/200/300" />
    </div>
</div></div>
    {% else %}
        <div class="py-5 text-center">
            <h2>Participant non trouvé</h2>
        </div>
    {% endif %}

{% endblock %}
