{% extends 'base.html.twig' %}

{% set showNavbar = true %}

{% block title %}Modification de mon mot de passe{% endblock %}

{% block body %}
    <div class="encadrement-mdp">
        <br>
        <h2>Modification de mon mot de passe</h2>
        <br>
        {{ form_start(mdpForm) }}
        {{ form_row(mdpForm.motdepasse.first) }}
        {{ form_row(mdpForm.motdepasse.second) }}
        <br>
        <button type="submit" class="btn btn-primary me-2">Valider</button>
        <span class="mx-3"></span>
        <a type="submit" href="{{ path('gestion_mon_profil') }}">Annuler</a>
        {{ form_end(mdpForm) }}
        <br>
    </div>
{% endblock %}