{% extends 'base.html.twig' %}

{% set showNavbar = true %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var errorMessage = '{{ error_message | default('') | raw }}';
            if (errorMessage) {
                alert(errorMessage);
                window.history.back();
            }
        });
    </script>

{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-mg-3 mt-5">
                {% if participant.getImage() %}
                    <img src="data:image;base64,{{ participant.getImage().getContenu() }}" alt="{{ participant.getImage().getNom() }}" style="width: 250px; height: auto;">
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="text-center">
                    <h1>Mon profil</h1>
                    <br>
                    {{ form_start(profilForm) }}
                    {{ form_row(profilForm.pseudo) }}
                    {{ form_row(profilForm.prenom) }}
                    {{ form_row(profilForm.nom) }}
                    {{ form_row(profilForm.telephone) }}
                    {{ form_row(profilForm.mail) }}
                    {{ form_row(profilForm.site) }}
                    {{ form_row(profilForm.maphoto) }}
                    <br>
                    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    <a type="submit" href="{{ path('app_sortie') }}">Annuler</a>
                    <br>
                    <br>
                    <a href="{{ path('modifier_mon_mot_de_passe') }}">Modifier mon mot de passe</a>
                    {{ form_end(profilForm) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

