{% extends 'base.html.twig' %}

{% set showNavbar = true %}

{% block javascripts %}
    <!-- Script JavaScript pour gérer l'événement de clic sur le bouton -->
    <script>
        // JavaScript pour afficher le formulaire de modification du mot de passe dans une nouvelle page
        function openPasswordChangeForm() {
            window.open("{{ path('modifier_mon_mot_de_passe') }}", "_blank");
        }

        document.addEventListener('DOMContentLoaded', function() {
            var errorMessage = '{{ error_message | default('') | raw }}';
            if (errorMessage) {
                alert(errorMessage);
                window.history.back();
            }
        });
    </script>

{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    {{ form_start(profilForm) }}
    {{ form_row(profilForm.pseudo) }}
    {{ form_row(profilForm.prenom) }}
    {{ form_row(profilForm.nom) }}
    {{ form_row(profilForm.telephone) }}
    {{ form_row(profilForm.mail) }}
    <button id="btnModifierMotDePasse" onclick="openPasswordChangeForm()">Modifier le mot de passe</button>
    {{ form_row(profilForm.site) }}
    {{ form_row(profilForm.maphoto) }}
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    <a type="submit" href="{{ path('app_sortie') }}">Annuler</a>
    {{ form_end(profilForm) }}
{% endblock %}

