{% extends 'base.html.twig' %}
{% set showExtendedNavbar = true %}

{% block body %}
    <div class="Layout-column-center g-5">

        <div class="Title txt-center">Annuler une sortie</div>
        <form class="mw-50 formAnnulation" action="{{ path('app_sortie_annulation', {'id': id}) }}" method="post">
            <div class="Layout-row-start-center">
                <div>Nom de la sortie:</div>
                <div class="ml-2">{{ sortie.nom }}</div>
            </div>
            <div class="Layout-row-start-center">
                <div>Date de la sortie:</div>
                <div class="ml-2">{{ sortie.datedebut|date('d/m/Y') }}</div>
            </div>
            <div class="Layout-row-start-center">
                <div>Ville organisatrice:</div>
                <div class="ml-2">{{ sortie.getOrganisateur().getSite().getNom() }}</div>
            </div>
            <div class="Layout-row-start-center">
                <div>Lieu:</div>
                <div class="ml-2">{{ sortie.getLieu().getNom() }}</div>
            </div>
            <div class="Layout-row-start-center">
                <div>Motif:</div>
                <textarea maxlength="254" rows="6" class="w-30 ml-2" name="motif"></textarea>
            </div>
            <div class="Layout-row-start-center g-2">
                <button type="submit" class="form-control w-8">Enregistrer</button>
                <a href="{{ path('app_sortie') }}" class="w-8 form-control btn btn-danger" aria-current="page">Retour</a>
            </div>
        </form>
    </div>
{% endblock %}