{% extends 'base.html.twig' %}
{% set showNavbar = true %}


{% block body %}
    <div class="serie-form-container">
        <h1>Modifier une sortie</h1>
        <div>
            {{ form_start(site_form) }}
            {{ form_end(site_form) }}
        </div>
        {{ form_start(sortie_form) }}
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: row; justify-content: space-around">
                <div>
                    {{ form_row(sortie_form.nom) }}
                    {{ form_row(sortie_form.datedebut) }}
                    {{ form_row(sortie_form.datecloture) }}
                    {{ form_row(sortie_form.inscriptionsmax) }}
                    {{ form_row(sortie_form.duree) }}
                    {{ form_row(sortie_form.description) }}
                </div>
                <div>
                    {{ form_row(sortie_form.lieu, { 'id': 'lieuSelect'}) }}

                </div>
            </div>
            <div style="display: flex; flex-direction: row">

            </div>
        </div>

        {{ form_end(sortie_form) }}
    </div>

{% endblock %}
